fastapi
uvicorn
websockets
pyttsx3
SpeechRecognition
pywhatkit
wikipedia
requests
pyautogui
psutil
pyjokes
screen_brightness_control
plyer
opencv-python-headless
beautifulsoup4
pillow
pygetwindow
mss
pyfiglet
colorama
pyaudio
setuptools
