fastapi
uvicorn
websockets
pyttsx3
SpeechRecognition
pywhatkit
wikipedia
requests
pyautogui
psutil
pyjokes
screen_brightness_control
plyer
opencv-python-headless
beautifulsoup4
pillow
pygetwindow
mss
pyfiglet
colorama
pyaudio
setuptools
pytz
textblob
scikit-learn
nltk
numpy
chromadb
sentence-transformers
pymupdf
langchain
PyPDF2
python-docx
markdown
pandas
PyYAML
rake-nltk
yake
textstat
